@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    overflow-x: hidden;
    overflow-y: hidden;
}

body{
    display: flex;
    width: 100%;
    height: 100vh; 
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: center;
    width: 20%;
    height: 100%;
    background: linear-gradient(90deg, #04112e 0%, #1D428A 100%);
}

.navbar .container_navbar{
    width: 70%;
    height: 100%;
}

.navbar .logo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
    align-self: center;
    
}

.navbar .logo .fundo_logo{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 70%;
    height: 100%;
}

.navbar .logo .fundo_logo p{
    font-family: "Poppins", sans-serif;
    margin-bottom: 15px;
    font-size: 20px;
    color: #fff;
}

.navbar .menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 70%;
    font-family: "Poppins", sans-serif;
    color: #F8E300;
    font-size: 20px;
    font-weight: bold;
}

.navbar .menu a{
    color: #fff;
    text-decoration: none; 
    color: inherit; 
    cursor: pointer; 
}

.navbar .menu .menu_item:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.dashboard{
    width: 80%;
    height: 100vh;
    background-image: url(../assets/Halo-Board-Rendering_1920x1080.jpg);
    background-size: cover;
    background-position: center;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    color: #F8E300;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

.dashboard .dashboard_top{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.grafico_top_left, .grafico_top_right{
    width: 35%;
    height: 59%;
    backdrop-filter: blur(20px);
    box-shadow: 3px 3px #000000;

}

.grafico_top_left{
    height: 200px;
    width: 390px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grafico_top_right{
    display: flex;
}

.grafico_top_right .jogador_kpi{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 7rem;
    gap: 15px;
}

.grafico{
    padding: 25px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard .dashboard_bottom{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard .dashboard_bottom .grafico{
    width: 75%;
    height: 75%;
    backdrop-filter: blur(20px);
    box-shadow: 5px 5px #000;
}