@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    /* margin: 20%; */
    display: flex;
    justify-content: space-between;
    background-color: #1D428A;
    /* margin: -0.5rem; */
}

.cabecalho img {
    margin-left: 2rem;
    width: 8.5rem;
    height: 4.5rem;
}

.cabecalho .itens {
    justify-items: center;
    font-family: "Poppins", sans-serif;
    color: #F8E300;
    font-size: 15px;
    margin-right: 3rem;
    font-weight: bold;
}

.slideshow{
    position: relative;
    width: 84.3rem;
    height: 100vh;
}
.mySlides {
    display: none;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.titulo h1 {
    display: flex;
    justify-content: center;
    color: #1D428A;
    border: #F8E300;
    /* margin-top: 0rem; */
    font-size: 50px;
    /* font-weight: bold; */
    text-shadow:
        1px 1px 2px black;
}

.titulo .texto {
    font-family: "Poppins", sans-serif;
    display: flex;
    text-align: center;
    margin-left: 3rem;
    font-size: 25px;
}