@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background: #1D428A ;
}

.cabecalho {
    /* margin: 20%; */
    display: flex;
    justify-content: space-between;
    background-color: #1D428A;
    margin: -0.5rem;
}

.cabecalho img {
    margin-left: 2rem;
    width: 20vh;
    height: 10vb;
}

.cabecalho .itens {
    justify-items: center;
    font-family: "Poppins", sans-serif;
    color: #F8E300;
    font-size: 15px;
    margin-right: 3rem;
    font-weight: bold;
}

.titulo{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    color: #F8E300;
}

.card {
    background-color: #ffffff;
    font-family: "Poppins", sans-serif ;
    display: flex;
    justify-content: center;
    width: 30%;
    height: 30vb;
    margin-left: 41rem;
    font-size: 20px;
    text-align: center;
}

.card #botao{
    background-color: #1D428A;
    color: #ffffff;
    display: flex;
    justify-content: center ;
    margin-left: 13rem;
    width: 30%;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
}

.spnQtd{
    text-align: end;
}

.answers{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.terminar{
    display: none;
    flex-direction: column;
    gap: 10px;
}

.terminar button{
    text-align: center;
}