@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background: #1D428A ;
}

.cabecalho {
    /* margin: 20%; */
    display: flex;
    justify-content: space-between;
    background-color: #1D428A;
    margin: -0.5rem;
}

.cabecalho img {
    margin-left: 2rem;
    width: 20vh;
    height: 10vb;
}

.cabecalho .itens {
    justify-items: center;
    font-family: "Poppins", sans-serif;
    color: #F8E300;
    font-size: 15px;
    margin-right: 3rem;
    font-weight: bold;
}

/* Título do quizz */

.titulo{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    color: #F8E300;
}

/* Card contendo as instruções do jogo */

.card {
    background-color: #ffffff;
    font-family: "Poppins", sans-serif ;
    display: flex;
    justify-self: center;
    width: 100vh;
    height: 70vb;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}

/* Botão de começar */

.card #botao{
    background-color: #1D428A;
    color: #ffffff;
    display: flex;
    justify-self: center ;
    width: 30%;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
}

button{
    display: flex;
    justify-self: center;
    cursor: pointer;
    border-radius: 25px;
    text-align: center;
}

.questao-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.questao {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.resposta-container {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.resposta:disabled {
  cursor: not-allowed;
}

.proxima-pergunta {
  margin-top: 32px;
}

.button {
  background-color: #224ea7 ;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  height: 48px;
  padding: 0 28px;
  transition: filter 0.1s;
}

.button-refazer {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  transition: filter 0.1s;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.button-refazer:not(:disabled):hover {
  filter: brightness(0.8);
}

a {
  text-decoration: none; 
  color: inherit; 
  cursor: pointer; 
}

a:focus {
  outline: none;
}

.button:not(:disabled):hover {
  filter: brightness(0.8);
}

.mensagem-final {
  font-size: 20px;
  text-align: center;
}

.mensagem-final span {
  display: block;
  margin-top: 8px;
}

.hide {
  display: none;
}

.correto {
  background-color: #049b48;
}

.incorreto {
  background-color: #a10101;
}